@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
/* fazendo o reset de todos os elementos */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;/* faz com que o padding da lar e alt, sejam anexados e não somados  */
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    /* melhora a visualização da fonte*/
    -webkit-font-smoothing: antialiased;
}
/* CAMPOS, BOTÕES e AREA DE TEXTO */
input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}
/* BOTÕES */
button{
    cursor: pointer;
}
/* CAMPOS DE FORMULARIOS */
form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}
/* CAMPOS DE TEXTO DE FORMULARIOS */
form textarea{
    width: 100%;
    resize: vertical;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}
/* Criando uma classe para o button da tela de Logon */
.button{
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;/*demora 0.2s para ativar o filtro*/
}
.button:hover{
    filter: brightness(90%);/*escurece ao passar o mouse por cima*/
}

/* FORMULARIO A */
.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}
/* ICONE FiLogIn */
.back-link svg{
    margin-right: 8px;
}
.back-link:hover{
    opacity: 0.8;
}